*{
    padding:0 ;
    margin:0;
    box-sizing:border-box;
    font-family:sans-serif;
    text-decoration:none;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color:rgb(189, 129, 129);
}
.container .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid rgb(189, 129, 129);
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.1);
    padding: 0 40px 0 80px;
}
.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}

.hero nav .nav-links a {
    color:#242424;
    margin-left: 40px;
    transition:0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
    color: #801f82;
}
.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.hero .content .div-text{
    width: 40%;
}
.hero .content .div-text h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: #fff;
}
.hero .content .div-text h4{
    color:#821f61;
    font-size: 30px;
    margin-bottom: 10px;
}
.hero .content .div-text p{
    color: #4f4f4f;
    margin-bottom: 50px;
    font-size: 18px;
}
.hero .content .div-img{
    width: 40%;
}
.hero .content .div-img img{
    width: 100%;
}
/*animation*/

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}

.hero .content .div-text h1{
    animation-delay: 0.3s;
}
.hero .content .div-text h4{
    animation-delay: 0.5s;
}
.hero .content .div-text h1{
    animation-delay: 0.9s;
}
@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
.hero .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        left: 100px;
        opacity: 0;
    }
}

.hero .content .div-img img{
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 1.5s;
}
@keyframes fade-img{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
100%{
    opacity: 1;
    transform: scale(1)
}
}
body{
    background-color: rgb(190, 154, 154);
}

nav ul a{
    display:inline-block;
    list-style: none;
    margin: 40px 10px;
    margin-left: 3%;

}
nav ul a{
    text-decoration: none;
    color:#242424;
    font-weight: bold;
}

.box1 
{
    width: 30%;
    height: 150px;
    background-color: rgb(241, 199, 229);
    float: left;
    border-radius: 10px;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.box2 
{
    width: 30%;
    height: 150px;
    background-color: rgb(241, 199, 229);
    float: left;
    border-radius: 10px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.box3 
{
    width: 30%;
    height: 150px;
    background-color: rgb(241, 199, 229);
    float: left;
    border-radius: 10px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 10px;
        text-align: center;
      }
      
      * {
        box-sizing:inherit;
      }
      
      .responsive {
        padding: 15px;
        float: center;
        width: 40%;
        

      }
      
      @media only screen and (max-width: 700px) {
        .responsive {
          width: 50%;
          margin: 6px 0;
        }
      }
      
      @media only screen and (max-width: 500px) {
        .responsive {
          width: 100%;
        }
      }
      
      .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }

      .boxA
    {
    width: 30%;
    height: 80px;
    background-color: rgb(241, 199, 229);
    float: left;
    border-radius: 10px;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5.5px;
    padding-bottom:5px ;
    }
    .boxB
    {
    width: 30%;
    height: 80px;
    background-color: rgb(241, 199, 229);
    float: left;
    border-radius: 10px;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5.5px;
    padding-bottom: 5px;
    }
    .boxC
    {
    width: 30%;
    height: 80px;
    background-color: rgb(241, 199, 229);
    float:left;
    border-radius: 10px;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5.5px;
    padding-bottom: 5px;
    }

    .dotlottie{
        padding-left: 5px;
    }